.input-box {
    margin-top: 25px;
    position: relative;
  }
  
  .input-box label {
    padding: 0 5px;
    color: #636363;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #ffffff;
  }
  
  .input-box input {
    width: 100%;
    outline: none;
    border: 1px solid #636363;
    box-shadow: 2px 3px #eae8e8;
    border-radius: 10px;
    padding: 10px;
  }
  
  .error label {
    color: red
  }
  
  .error input {
    border-color: red;
  }
  
  .error select {
    border-color: red;
  }
  
  .error-message {
    text-align: center;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 102%;
    background-color: rgb(230, 47, 47);
    color: #ffffff
  }
  
  .error-image {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 25%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../../assets/images/error.png'); */
    width: 16px;
    height: 16px;
  }
  
  .error-triangle {
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid rgb(230, 47, 47);
  }